DJANGO_SECRET_KEY=rootblend-dev-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

DB_ENGINE=django.db.backends.mysql
DB_NAME=rootblend_usuarios
DB_USER=avnadmin
DB_PASSWORD=example_aiven_password
DB_HOST=usuarios-denilsonsaavedra2005-72d1.g.aivencloud.com
DB_PORT=10150

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

JWT_ACCESS_SECRET=rootblend-access-secret
JWT_REFRESH_SECRET=rootblend-refresh-secret
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=denilsonsaavedra2005@gmail.com
EMAIL_HOST_PASSWORD=PON_AQUI_TU_PASSWORD_DE_APP_GMAIL

DEFAULT_FROM_EMAIL=ROOTBLEND <denilsonsaavedra2005@gmail.com>
FRONTEND_URL=http://localhost:5173