CLOUD_DB_HOST=usuarios-denilsonsaavedra2005-72d1.g.aivencloud.com
CLOUD_DB_PORT=10150
CLOUD_DB_USER=avnadmin
CLOUD_DB_PASSWORD=TU_PASSWORD_DE_AIVEN

LOCAL_DB_HOST=mysql-local
LOCAL_DB_PORT=3306
LOCAL_DB_USER=root
LOCAL_DB_PASSWORD=root