DJANGO_SECRET_KEY=canales-dev-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

DB_ENGINE=django.db.backends.mysql
DB_NAME=rootblend_canales_streaming
DB_USER=avnadmin
DB_PASSWORD=example_aiven_password
DB_HOST=usuarios-denilsonsaavedra2005-72d1.g.aivencloud.com
DB_PORT=10150

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

RABBITMQ_ENABLED=true
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rootblend
RABBITMQ_PASSWORD=rootblend123
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=rootblend.events
INTERNAL_HTTP_EVENTS_FALLBACK=false
