DEBUG=True
SECRET_KEY=dev-rootblend-pagos-secret-key
ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.mysql
DB_NAME=rootblend_pagos
DB_USER=root
DB_PASSWORD=root
DB_HOST=mysql-local
DB_PORT=3306

PAYMENT_PROVIDER=mock
PAYMENT_CURRENCY=BOB
PAYMENT_MIN_AMOUNT=1
PAYMENT_MAX_AMOUNT=150

FRONTEND_URL=http://localhost:5173
PUBLIC_API_BASE_URL=http://localhost:8080/api

RABBITMQ_ENABLED=true
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rootblend
RABBITMQ_PASSWORD=rootblend123
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=rootblend.events

BCP_API_URL=
BCP_CLIENT_ID=
BCP_CLIENT_SECRET=
BCP_COMMERCE_ID=
BCP_WEBHOOK_SECRET=